.test1 {
    background-color: black;
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    height: 60px;
    padding-top: 4px;
}

ul{
    list-style: none;
    
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin-left: 230px;
    margin-right: 340px;
    
}
.leo{
    font-family: serif;
    font-size: 50px;
}

ul a{
    color: black;
    text-decoration: none;
}

.p1{
    width: 600px;
    margin-left: 90px;
    margin-top: 30px;
}

.p2{
    margin-top: 200px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.normal{
    display: flex;

}

.produit1 img{
    width: 400px;
}

.produit2 img{
    width: 400px;
    height: 398px;
}



.produit3 img{
    width: 400px;
    height: 398px;
    
}

.produits{
    display: flex;
    justify-content: space-around;
    height: 1000px;
}

h3{
    text-align: center;
    letter-spacing: 4px;
}

.produits button{
    margin-left: 90px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


